* {
    padding: 0;
    margin: 0;
    font-family: monospace;
    box-sizing: border-box;
}

/* -- AQUÍ EMPIEZA LA PARTE SUPERIOR -- */

body {
    background-color: #44475a;
    overflow: hidden;
}

.parte-superior {
    background-color: #44475a;
    width: 100%;
    height: 45vh;
}

.logo {}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 220px;
}

#httpOptions {
    background-color: #BD93F9;
    color: #DBFF00;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 17px;
    padding-left: 10px;
    border: none;
}

#httpOptions:hover {
    background-color: rgb(148, 100, 216)
}

option {
    background-color: #dac1fc;
    color: black;
}

input {
    width: 900px;
    height: 40px;
    margin: 0px 10px 0px 10px;
    border-radius: 15px;
    font-family: monospace;
    font-size: 17px;
    padding-left: 20px;
    border: none;
}

.input:hover {
    background-color: #ddd9e2;
}

.input[type=text] {
    color: #44475a;
}

.send-button {
    width: 100px;
    height: 40px;
    border-radius: 15px;
    background-color: #50FA7B;
    color: white;
    font-weight: bold;
    font-size: 17px;
    border: none;
}

.send-button:hover {
    background-color: #49bb65;
    ;
}

.status {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 10px 0px 10px;
    width: 120px;
    height: 40px;
    background-color: #282a36;
    border-radius: 20px;
    margin-left: 24px;
    margin-bottom: 14px;
    font-size: 17px;
    color: #50FA7B;
}

section.parte-inferior {
    background-color: #282a36;
}

.icon-globe {
    background-color: #282a36;
    width: 25px;
    height: 25px;
}

/* -- AQUÍ EMPIEZA LA PARTE INFERIOR -- */

.parte-inferior {
    display: flex;
    background-color: #282a36;
    color: #6272A4;
}

/*.parte-inferior::-webkit-scrollbar{
    width: 100%;
    height: 6px;
    background-color: rgba(0, 132, 255, 0);
}
.parte-inferior::-webkit-scrollbar-thumb{
    background-color: #00B9FD;
    border-radius: 20px;
    width: 50px;
}*/

.results {
    width: 100%;
    height: 445px;
    overflow-y: auto;
    overflow-x: hidden;
    /*border: 1px solid black;*/
    margin: 20px;
}

.parte-inferior p {
    margin-left: 15px;
    margin-top: 15px;
    font-family: monospace;
    font-size: 15px;
    color: #6272A4;
}