/* Añade estos estilos para centrar el logo y el título */
.parte-superior {
    background-color: #44475a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 45vh;
  }
  
  .logo {
    width: 400px;
    margin-top: -50px; /* Ajusta este valor según tu preferencia */
    text-align: center;
  }
  
  h6 {
    font-size: 40px;
    color: #1c274c;
    margin-top: 20px; /* Ajusta este valor según tu preferencia */
  }
  